<img src="https://raw.githubusercontent.com/AugustoInData/Projetos/refs/heads/main/Previs%C3%A3o%20de%20Vendas/cabe%C3%A7alho.png" alt="ebac-logo">

---

# Introdução

...

##Objetivo inicial

Queremos prever as vendas globais de um jogo de videogame com base nas suas características, ajudando empresas a identificar quais fatores influenciam mais no sucesso de vendas.

Para isso iremos trabalhar com o dataset 'Video Game Sales with Ratings'

Mãos a obra!

# Importando os dados

Nessa etapa inicial da análise será importada a base de dados do projeto. Além disso, será verificado também a estrutura do banco de dados para que sejam obtidas informações tais como tamanho, colunas e se há incidência de valores nulos nas colunas

### Base de dados que será utilizada

In [1]:
!wget https://raw.githubusercontent.com/AugustoInData/Projetos/refs/heads/main/Previs%C3%A3o%20de%20Vendas/Video_Games_Sales_as_at_22_Dec_2016.csv

--2025-08-16 17:14:49--  https://raw.githubusercontent.com/AugustoInData/Projetos/refs/heads/main/Previs%C3%A3o%20de%20Vendas/Video_Games_Sales_as_at_22_Dec_2016.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.109.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1601320 (1.5M) [text/plain]
Saving to: ‘Video_Games_Sales_as_at_22_Dec_2016.csv’

Video_Games_Sales_a 100%[===================>]   1.53M  --.-KB/s    in 0.04s

2025-08-16 17:14:49 (38.0 MB/s) - ‘Video_Games_Sales_as_at_22_Dec_2016.csv’ saved [1601320/1601320]

### Analisando a estrutura dos dados

In [2]:
import pandas as pd

In [27]:

df = pd.read_csv('Video_Games_Sales_as_at_22_Dec_2016.csv')

print(df.shape)

(16719, 16)

In [4]:
df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16717 non-null  object
 1   Platform         16719 non-null  object
 2   Year_of_Release  16450 non-null  float64
 3   Genre            16717 non-null  object
 4   Publisher        16665 non-null  object
 5   NA_Sales         16719 non-null  float64
 6   EU_Sales         16719 non-null  float64
 7   JP_Sales         16719 non-null  float64
 8   Other_Sales      16719 non-null  float64
 9   Global_Sales     16719 non-null  float64
 10  Critic_Score     8137 non-null   float64
 11  Critic_Count     8137 non-null   float64
 12  User_Score       10015 non-null  object
 13  User_Count       7590 non-null   float64
 14  Developer        10096 non-null  object
 15  Rating           9950 non-null   object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB

In [6]:
df.isna().sum()

Name                  2
Platform              0
Year_of_Release     269
Genre                 2
Publisher            54
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       8582
Critic_Count       8582
User_Score         6704
User_Count         9129
Developer          6623
Rating             6769
dtype: int64

#Limpeza dos dados

In [14]:
df = df.dropna(subset=['Year_of_Release','Global_Sales'])
df['Year_of_Release'] = df['Year_of_Release'].astype(int)

In [11]:
df.isna().sum()

Name                  2
Platform              0
Year_of_Release       0
Genre                 2
Publisher            32
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       8467
Critic_Count       8467
User_Score         6610
User_Count         8987
Developer          6543
Rating             6681
dtype: int64

In [22]:
df['User_Score'] = pd.to_numeric(df['User_Score'], errors='coerce')

In [25]:
df['User_Score'].dtypes

dtype('float64')

In [26]:
df['User_Score'].isna().sum()

np.int64(8987)